{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'growlivapp/login.css' %}">
    <title>Mite Count Pro</title>
    
</head>
<body>

{% if user.is_authenticated %}
    <div class="loading-overlay" id="loading-overlay">
        <div class="loading-spinner"></div>
    </div>
    
    <div class="header">
        <div class="logo-container" style="padding-left: 40px">
            <img src="{% static 'growlivapp/final.png' %}" alt="Mite Count Pro" class="logo w-8 h-8">
            <div><a href="{% url 'growlivapp:home' %}" class="font-bold">Mite Count Pro</a></div>
        </div>
        <div class="navigation">
            <a href="{% url 'growlivapp:scan_detail_page' %}">History</a>
            <a href="{% url 'growlivapp:profile' %}">Profile</a>
            <a href="{% url 'growlivapp:logout_user' %}">Logout</a>
        </div>
    </div>
{% endif %}

{% block body_block %}
    ***
{% endblock %}
</body>
