{% extends 'growlivapp/authbarbase.html' %}
{% load static %}
{% block body_block %}
    <div class="container">
        <div class="main">
            <img src="{% static 'growlivapp/logo1.png' %}" alt="Growliv Business Logo" class="growliv-logo">
            {% if err %}
                <p class="error">{{ err }}</p>
            {% endif %}
            <p>A Link has been sent to your registered email</p>
            <p> <a href="{% url 'growlivapp:login' %}">Click here to go to login page</a></p>
            
        </div>
    </div>
{% endblock %}