{% extends 'growlivapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - Mite Count Pro</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
{% block body_block %}
    <main class="p-6 flex-grow">
        <div class="max-w-xl mx-auto">
            <div class="bg-white p-6 shadow rounded">
                <h1 class="text-2xl font-bold text-center mb-6">User Information</h1>
                <form method="post" action="{% url 'growlivapp:profile' %}">
                    {% csrf_token %}
                    <div class="w-full mb-3">
                        <label class="text-gray-700">Email</label>
                        {{ business.email }}
                    </div>
                    <div class="w-full mb-3">
                        <label class="text-gray-700">Business Name</label>
                        {{ business.business_name }}
                    </div>
                    <div class="w-full mb-3">
                        <label class="text-gray-700">Business Contact</label>
                        {{ business.business_phone }}
                    </div>
                    <div class="w-full mb-3">
                        <label class="text-gray-700">Contact Name</label>
                        {{ business.contact_person_name }}
                    </div>
                    <div class="flex flex-col items-center pb-10" style="padding-top: 40px">
                        <div class="w-full mb-3">
                            <button type="submit"
                                    class="w-full text-center block bg-green-600 text-white p-2 rounded hover:bg-green-800">
                                Save Changes
                            </button>
                        </div>
                        <div class="w-full mb-3">
                            <a href="{% url 'growlivapp:change_password' %}"
                               class="w-full text-center block bg-blue-500 text-white p-2 rounded hover:bg-blue-600">Change
                                Password</a>
                        </div>
                        <div class="w-full">
                            <a href="#"
                               class="w-full text-center block bg-red-500 text-white p-2 rounded hover:bg-red-600">Delete
                                Account</a>
                        </div>
                        {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                    <div class="alert {{ message.tags }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script>
        inputs = document.querySelectorAll('input');
        // Add a classes to each input field
        inputs.forEach(input => {
            input.classList.add('w-full', 'p-2', 'border', 'rounded');
        });
    </script>
{% endblock %}

</body>
</html>
