
.container {
    max-width: 600px;
    margin: auto auto;
    /* adjusted margin for slightly positioning towards the top */
    text-align: center;
    position: relative;
    /* added position relative for positioning absolute elements inside */
}

.logo {
    position: absolute;
    top: 5px;
    /* position at the top of the task bar */
    left: 10px;
    width: 30px;
    /* original width of Mite Count Pro logo */
    height: 30px;
    /* original height of Mite Count Pro logo */
}


.growliv-logo {
    width: 300px;
    height: 300px;
    margin-top: 1px;
}


body {
    background-color: #e8f4d2;
    font-family: 'Ubuntu', sans-serif;
    align-content: center;
}

.main {
    background-color: #ffffff;
    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
    margin: -10% 5% 0 5%;
}

.un:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #757575;
    background: #e8f4d2;
    border: 0;
    padding: 10px 40px;
    font-family: 'Ubuntu', sans-serif;
    /*margin-left: 35%;*/
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0 0 3px rgba(117, 117, 117, 0.12);
    color: #757575;
}

a {
    text-shadow: 0 0 3px rgba(117, 117, 117, 0.12);
    color: #757575;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0;
    }
}

.error {
    color: red;
}

.alert {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .alert-success {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }

        .alert-error {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }